@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;500;700&display=swap");
@font-face {
  font-family: "Suisse Int'l";
  src: url("//db.onlinewebfonts.com/t/03d5b20d124cd26dc873bd4a8e42313e.eot");
  src: url("//db.onlinewebfonts.com/t/03d5b20d124cd26dc873bd4a8e42313e.eot?#iefix")
      format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/03d5b20d124cd26dc873bd4a8e42313e.woff2")
      format("woff2"),
    url("//db.onlinewebfonts.com/t/03d5b20d124cd26dc873bd4a8e42313e.woff")
      format("woff"),
    url("//db.onlinewebfonts.com/t/03d5b20d124cd26dc873bd4a8e42313e.ttf")
      format("truetype"),
    url("//db.onlinewebfonts.com/t/03d5b20d124cd26dc873bd4a8e42313e.svg#Suisse Int'l")
      format("svg");
}

//-- Fonts
$font1: "Suisse Int'l";

//-- Color scheme
$baseBg_color: #f5f5f5;
$themeColor: #25d366;
$layout_border-color: #d3d3d34a;
$label_color: #6d6d6d;
$text_color: #737792;

//-- Layout
$layout_border: 1px solid $layout_border-color;

$button_shadow: 0px 5px 8px 1px rgba(0, 0, 0, 0.09);
